NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y2hhbXBpb24tZXdlLTgwLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_mYPVEnIBHyEsuhoiI71OjF8IP9udQZhQxw4TtENikQ
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/agency/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/agency/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/agency/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/agency/dashboard
DB_USERNAME=
DB_PASSWORD=

NEXT_PUBLIC_URL=http://localhost:3000/
NEXT_PUBLIC_DOMAIN=localhost:3000
NEXT_PUBLIC_SCHEME=http://

UPLOADTHING_SECRET='sk_live_d4dc735c77d4d04083861c42f1f654fd84d615c96e8b6e99891366c4b60530de'
UPLOADTHING_APP_ID='moejjylopb'

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51Po5K3DNUgNwECch5rYeWj0fwqwAQJDQjJNs082ypbTy9Z0pFSWIAK8K5cJcpAjKDERecBtJNoTcH4GRLl8tvJAx00A4md8EYE
STRIPE_SECRET_KEY=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
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_CLIENT_ID=
NEXT_PUBLIC_PLATFORM_SUBSCRIPTION_PERCENT=1
NEXT_PUBLIC_PLATFORM_ONETIME_FEE=2
NEXT_PUBLIC_PLATFORM_AGENY_PERCENT=1
NEXT_PUBLIC_PLURA_PRODUCT_ID=prctbl_1QLehIDNUgNwECchTE5zXSqa
NEXT_PUBLIC_PLURA_PRODUCT_ID_STARTER=prod_RE6FonzEF8xUsZ
NEXT_PUBLIC_PLURA_PRODUCT_ID_BASIC=prod_RE6STcHgQA46bX
NEXT_PUBLIC_PLURA_PRODUCT_ID_PRO=prod_RE6DFWrFLAxu96
NEXT_PUBLIC_PLURA_PRODUCT_ID_UNLIMITED=prod_RE66aPPTsABF1E

DATABPASE_PASSWORD=


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=mysql://root:Lordson1@@localhost:3306/plura
PROD_DATABASE_URL=
LOCAL_DATABASE_URL=mysql://root:Lordson1@@localhost:3306/plura

# https://www.builder.io/c/docs/using-your-api-key
NEXT_PUBLIC_BUILDER_API_KEY=3cc529f3ab844b33b70c3a06dd01bcd3
